* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

/* Navbar */
.nav {
  height: 10vh;
  width: 100%;
  border-radius: 4px;
  box-shadow:  2px 2px 2px rgb(40, 40, 79);
  background-color: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  border-bottom: 1px solid #334155;
  position: absolute;
  top:0px;
  left: 0px;
 /* margin-top: 0px;*/
}

/* Left section */
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left img {
  height: 260px;
  width: 300px;
  margin-top: 14px;
}

/* Right section */
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Text */
h1 {
  font-size: 60px;
  font-weight: 600;
  color: #e5e7eb;
  margin-top: -50px;
}

p {
  font-size: 20px;
  color: #9ca3af;
  margin-top: 20px;
}

/* Button */
button {
  padding: 8px 16px;
  background-color: #8b5cf6;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #7c3aed;
  transform: translateY(-1px);
}

button:active {
  transform: translateY(0);
  opacity: 0.9;
}
